@import './fonts/Roboto-Regular.ttf';
@font-face {
  font-family: Roboto;
  src: local(Roboto),
    url('./fonts/Roboto-Regular.ttf') format(truetype);
    font-weight: normal;
}
html, body  {
  margin: 0px;
  padding:0px;
  font-family: Roboto;
}
body {
  font-size: 1.2rem;
  list-style: none;
}
a {
  text-decoration: none;
}
html, body, #root, .App{
  height: 100%;
}
 .App, *, *::after, *::before {
  box-sizing: border-box;
}
